{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lykionlykion/css/lykion.css') }}" />
{% endblock %}

{% block title 'Lykion Ton Ellinidon - Paris' %}

{% block body %}
   
    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('new_spectacle') }}">Spectacle</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
